{% extends 'base.html' %}
{% block content %}


<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px;">
    {% for product in products %}
    <div class="card" style="width: 500px; height: auto; margin-top: 20px;">
      <img src="{{ product.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description|truncatechars:70 }}</p>
          <a href="{% url 'detail' product.id %}" class="btn btn-primary">More...</a>
          <a class="btn btn-warning" href="{% url 'cart_add' product.id %}" role="button">Add to carts</a>
      </div>
    </div>
    {% endfor %}
</div>

<!--Pagination-->
{% if is_paginated  %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'list' category %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
     {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'list' category %}?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
<!--End Pagination-->

{% endblock %}