{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div class="card mb-3" style="width: 800px;">
    <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{ profile.username }}</h2>
          <p class="card-title">{{ request.user.name }}</p>
          <p class="card-title">{{ user.surname }}</p>
        <p class="card-text">EMAIL -> {{ profile.email }}</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}