{% extends 'base.html' %}
{% block content %}
 <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
      <img style="width: 300px; height: auto;" src="{{ request.user.image }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ request.user.username }}</h5>
        <h5 class="card-text">{{ request.user.email }}</h5>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}